*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(31, 31, 31, 0.919);
}
.button{
    color: white;
    text-decoration: none;
    padding: 20px 40px;
    padding: 22px 60px;
    position: relative;
    /* overflow: hidden; */
    /* display: block; */
    letter-spacing: 0.7px;
    font-size: 20px;
    font-weight: 600;
    background: linear-gradient(58deg, rgb(4, 37, 83) 0%, rgb(3, 102, 223) 99%);
    box-shadow: 1px 2px 5px rgba(255, 255, 255, 0.863);
    border-radius: 40px;
    margin: 0 2rem;
}
.second{
    background: linear-gradient(90deg, rgb(58, 4, 83) 0%, rgb(110, 0, 178) 99%);

}
.overly{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    opacity: 0.5;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: atick 0.6s linear infinite;
}
@keyframes atick{
    0%{
        height: 0;
        width: 0;
        opacity: 0.7;
    }
    100%{
        height: 500px;
        width: 500px;
        opacity: 0;
    }
}


